body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0%;
}

h1 {
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.25em;
}

h2 {
    font-size: 40px;
    font-weight: 500;
    color: rgb(230, 138, 34);
}

h4 {
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 247, 253);
    margin-bottom: 0.5em;
}

nav {
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0;
    display: flex;
    z-index: 100;
    background-color: rgb(255, 247, 253);
}

.logo img {
    height: 42px;
    padding-left: 24px;
}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

ul {
    float: right;
    margin-right: 24px;
    color: rgb(38, 65, 67);
}

li {
    list-style: none;
    display: inline-flex;
    padding: 0.25em 1em;
    text-align: right;
    
}

a {
    text-decoration: none;
    color: rgb(38, 65, 67);
}

a:hover {
    color: rgb(230, 138, 34);
  }

.banner {
    display: flex;
    position: relative;
    top: 64px;
    justify-content: center; 
    background-color: rgb(38, 65, 67);
    flex-shrink: 1;
}

.container-left {
    display: block;
    width: 60%;
    margin: 32px 24px;
}

.container-left img {
    width: 100%;
    overflow: hidden;
}

.container-right {
    justify-content: center;
    padding-right: 75px;
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 32px auto;
}

.start {
    color:rgb(38, 65, 67);
    background-color: rgb(230, 138, 34);
    border: none;
    padding: 15px 32px;
    margin-top: 100px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.main-banner {
    display: flex;
    position: relative;
    top: 64px;
    justify-content: center; 
    background-color: rgb(207, 201, 209);
    flex-shrink: 1;
}

h3 {
    font-weight: bold;
    font-size: 1.75em;
    color: rgb(38, 65, 67);
}

h6 {
    letter-spacing: 0.25em;
    font-weight: normal;
    font-size: 0.5em;
}

.container-left-article {
    display: block;
    width: 60%;
    margin: 32px 24px;
}

.container-left-article img {
    width: 100%;
}

.container-right-tabs {
    width: 40%;
}

.event-tab {
    display: flex;
    border-bottom: 2px double rgb(38, 65, 67);
    
}

.event-tab:hover {
    background-color: rgb(230, 138, 34);
}

.event-tab a:hover{
    color: rgb(255, 247, 253);
    letter-spacing: 2px;
}

.event-tab a {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

.event-tab p {
    font-size: 12px;
}

.small-tumbnail {
    display: block;
    width: 35%;
    margin: 2em;
}

.small-tumbnail img {
    width: 100%;
    height: auto;
}

.tumbnail-text {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}